/* components/OverlayButton.module.css */

.overlayButton {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px; /* Sesuaikan dengan lebar yang diinginkan */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  